on post-fs
    # usb
    insmod /misc/modules/dummy_udc.ko
    insmod /misc/modules/g_android.ko
    insmod /misc/modules/acts_hcd.ko
    insmod /misc/modules/monitor.ko

    # audio
    insmod /misc/modules/atc260x_audio.ko
    insmod /misc/modules/sndrv.ko

    # vde_drv
    insmod /misc/modules/vde_drv.ko

    # vce_drv
    insmod /misc/modules/vce_drv.ko

	# gpu
    insmod /misc/modules/galcore.ko
    
on charger    
    # power
    insmod /misc/modules/atc260x_onoff.ko
    insmod /misc/modules/atc260x_power.ko      
    
#import board extra_modules
import init.extra_modules.rc