on post-fs
	# Audio
    insmod /misc/modules/atc260x_audio.ko
    insmod /misc/modules/sndrv.ko

	# GPU
    insmod /misc/modules/galcore.ko
	
    # USB
    insmod /misc/modules/dummy_udc.ko
    insmod /misc/modules/g_android.ko
    insmod /misc/modules/acts_hcd.ko
    insmod /misc/modules/monitor.ko

    # Vde_drv
    insmod /misc/modules/vde_drv.ko

    # Vce_drv
    insmod /misc/modules/vce_drv.ko
    
on charger    
    # Insmod boot driver
    insmod /misc/modules/atc260x_onoff.ko
    insmod /misc/modules/atc260x_power.ko      
    
#import board extra_modules
import init.extra_modules.rc