on post-fs
    # Camera
    insmod /misc/modules/camera_hi253.ko
    insmod /misc/modules/camera_gc0308.ko

    # GSensor
    insmod /misc/modules/gsensor_mc3210.ko

    # Charger
    insmod /misc/modules/atc260x_cap_gauge.ko  

    # Touch
    insmod /misc/modules/ctp_ft5x06.ko

on charger    
    # Insmod charger driver
    insmod /misc/modules/atc260x_onoff.ko
    insmod /misc/modules/atc260x_power.ko mini_chg=1
    insmod /misc/modules/atc260x_cap_gauge.ko
    # Start charger
    class_start charger
