on post-fs
	# Camera
    insmod /misc/modules/camera_hi253.ko
    insmod /misc/modules/camera_gc0308.ko
    insmod /misc/modules/camera_drv.ko
	
	# GSensor
    insmod /misc/modules/gsensor_mc3210.ko
	
	# HDMI
    insmod /misc/modules/atv5202_vout.ko
    insmod /misc/modules/gl5202_tvout.ko
    insmod /misc/modules/gl5202_hdmi.ko
	
    # MMC
    insmod /misc/modules/mmc_core.ko
    insmod /misc/modules/mmc_block.ko
    insmod /misc/modules/atv5202_mmc.ko

    # Soft Gauge
    insmod /misc/modules/atc260x_cap_gauge.ko  

    # Touch
    insmod /misc/modules/ctp_ft5x06.ko

    # Vibrate
    insmod /misc/modules/act_vibrate.ko

on charger
    # Soft Gauge
    insmod /misc/modules/atc260x_cap_gauge.ko
    # Start charger
    class_start charger